{{> header}}

<main class="home-page">
  <div class="title-container">
    <h2>Controller Platform</h2>
      <div id="gamepadPrompt"></div>
      <div id="gamepadDisplay"></div>
      </div>
</main>
