<header>
  <img class="header-image" src="https://osuosl.org/theme/img/osu-top-hat/OSU_newlogo.png"/>
  <h1 class="site-title">OSURC Underwater ROV</h1>

</header>

<nav class="navbar">
  <ul class="navlist">
    <li class="navitem"><a href="/">Operation</a></li>
    <li class="navitem"><a href="/people">Something else</a></li>
    <li class="navitem right"><a href="#">Login</a></li>
  </ul>
</nav>
